.dialog {
  width: 62%;
  height: 100%;
  border-radius: 5px;
  animation: appearing 0.5s;
  background-color: var(--background);
}

@keyframes appearing {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 62%;
    opacity: 1;
  }
}
