.dialog {
  width: 74%;
  height: 100%;
  animation: appearing 0.5s;
  background-color: var(--secondBackground);
}

@keyframes appearing {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 74%;
    opacity: 1;
  }
}
