.root {
  display: flex;
  overflow: hidden auto;
  width: 100%;
  height: fit-content;
  max-height: 50vh;
  flex-direction: column;
  gap: 0.5em;

  .settingsSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background);
    padding-block: 0.5em;
  }

  .settingsButton {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding-block: 0.5em;
    padding-inline: 1rem;
    text-align: start;
    transition: background-color 0.2s;
    @include fontType(1.4rem, var(--text));
    @include colorButton(var(--primary));

    @include hover {
      background-color: rgb(from var(--secondBackground) r g b / 50%);

      svg {
        fill: var(--primary);
      }
    }

    .email {
      margin: 0;
    }
  }

  .dangerButton {
    @include colorButton(var(--red));
  }
}
