.dark {
  --text: #dbe3eb;
  --background: #4a4d4f;
  --secondBackground: #383d3e;
  --secondText: #8a9597;
  --primary: #8172e6;
  --secondary: #2086d9;
  --red: #e76b6b;
  --green: #2ca98c;
}

.light {
  --text: #373838;
  --secondBackground: #ccd9e7;
  --background: #dbe3eb;
  --secondText: #7b8083;
  --primary: #9181eb;
  --secondary: #3a97e2;
  --red: #e76b6b;
  --green: #00c497;
}
