@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@700&display=swap';

.body {
  margin: 0;
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  color: var(--text);
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
