.passwordSection {
  display: flex;
  width: calc(100% - 2em);
  flex-direction: column;
  padding: 1em;
  background-color: var(--background);
  gap: 1em;

  .inputContainer {
    position: relative;
    width: 100%;
  }

  .eye {
    position: absolute;
    top: 0.8em;
    right: 1em;
  }
}
