<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
  <title th:text="${confirmLabel}"></title>
  <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
  <form class="form">
    <h1 th:text="${confirmLabel}" class="formTitle"></h1>
    <div class="inputContainer checkboxContainer">
      <h2 class="inputLabel">Custom backend url</h2>
      <label class="inputLabel" for="customBackendUrlCheckbox">
        <input class="checkbox" type="checkbox" id="customBackendUrlCheckbox" name="customBackendUrlCheckbox"
               onclick="showCustomBackendUrl()">
        <div class="customCheckbox"></div>
      </label>
    </div>
    <div class="hideContainer inputContainer" id="backendUrlContainer">
      <label class="inputLabel" for="backendUrl">Backend url</label>
      <input class="input" type="text" id="backendUrl" name="backendUrl" />
    </div>
    <button th:if="${confirmEmail}" class="confirmButton" type="button" onclick="confirm('/user/email/confirm/')">
      Confirm
    </button>
    <button th:if="${confirmRegistration}" class="confirmButton" type="button"
      onclick="confirm('/registration/confirm/')">
      Confirm
    </button>
  </form>
  <div class="infoContainer" id="infoContainer">
    <h1 class="infoMessage" id="infoMessage"></h1>
  </div>
  <script th:src="@{/js/auth.js}">
  </script>
</body>
</html>
