.root {
  display: grid;
  height: 100vh;
  place-items: center;
}

.form {
  position: relative;
  display: flex;
  width: 25%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: var(--secondBackground);
  box-shadow: -1px 10px 200px -50px var(--background);
  gap: 2em;
  padding-block: 2em;
  padding-inline: 2.5vw;

  .formTitle {
    text-align: center;
    @include fontType(1.8rem, var(--text));
  }
}

.inputContainer {
  position: relative;
  width: 100%;

  .input {
    padding-right: 3em;
  }

  .eye {
    position: absolute;
    top: 0.8em;
    right: 1em;
  }

  .resendText {
    text-align: center;
    @include fontType(1.1rem, var(--text));
  }

  .resendButton {
    width: 100%;
    padding: 0;
    border: none;
    background: none;
    @include fontType(1.1rem, var(--text));
  }

  .resendButtonText {
    margin-bottom: 0;
    cursor: pointer;
    text-decoration: underline;
  }
}

.changeThemeContainer {
  position: absolute;
  top: 5%;
  right: 5%;
}

.buttonsContainer {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1em;
  margin-top: 1em;

  .button {
    width: 45%;
  }

  .goBackButton {
    @include hover {
      border: 2px var(--secondary) solid;
      background-color: var(--secondary);
      color: var(--text);
    }
  }
}
